body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
}

/*Barra de Navegación*/

.navbar img{
    height: 30px;
}

.nav-black{
    background-color: #000000;
    opacity: 0.9;
    color: #FFFFFF;
}
/* Sección ¿Quiénes Somos?*/

.sec-quienessomos i{
    padding-top: 3px;
}

/* Destacados */

.sec-destacados h5{
    font-size: 20px;
}
.sec-destacados p{
    font-size: 15px;
}
.sec-destacados img{
    height: 150px;
    object-fit: cover;
}

/*Footer*/

.sec-footer{
    background-color: #0DCAF0;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
}

.sec-footer h2{
    font-size: 25px;
}
.sec-footer i{
    font-size: 30px;
    text-decoration: none;
    color: #FFFFFF;
}

/* General */

.sec-hr{
    border-top: 2px solid #0DCAF0; 
}

.justify{
    text-align: justify;
}


@media (max-width:992px){
    .sec-footer h2{
        font-size: 20px;
        padding-right: 4rem;
    }
}

@media (max-width:760px){
    .navbar-brand{
        padding-left: 15px;
    }
    .nav-link{
        font-weight: bold;
        color: #FFFFFF;
    }
    .sec-footer h2{
        font-size: 14px;
        padding-right: 0px;
    }
    .sec-footer i{
        font-size: 20px;
    }
}

