body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
}

.navbar img{
    height: 30px;
}

.sec-quienessomos hr{
    border-top: 2px solid #0DCAF0; 
}

.sec-quienessomos i{
    padding-top: 3px;
}
.justify{
    text-align: justify;
}